<!DOCTYPE html>
<html>
<head>
    <meta name="author" content="Your name">
    <meta name="keywords" content="Museum, Carnegie Mellon University, Information Systems">
    <meta name="description" content="MonoMuse website redesign project">
    <title>MonoMuse</title>
</head>
<body>
    <header>
        <h1> Explore </h1>
    <nav>
        <a href="../index.html">Home</a>
        <a href="explore.html">Explore</a>
        <a href="exhibitions.html">Exhibitions</a>
        <a href="tickets.html">Buy Tickets</a>
        <a href="checkout.html">Checkout</a>
    </nav>
    </header>

    <img src="Monopic.png" alt="pic of MonoMuse">

    <div class="main">
        <h3>Mission Statement</h3>
        <p> MonoMuse is dedicated to exploring the evolving relationship between
            art, technology, and society.
        </p>

        <h3>Milestones</h3>
        <p>
            <ul> 
                <li> 2023: Expansion of the museum space and launch of international
                artist collaborations </li>
                <li> 2018: Launch of Interactive Media Lab, allowing visitors to 
                    experiment with creative coding.</li>
            </ul>
        </p>

        <footer> 2026 MonoMuse. All rights reserved. </footer>
</body> 
</html>