<!DOCTYPE html>
<html>
<head>
    <meta name="author" content="Your name">
    <meta name="keywords" content="Museum, Carnegie Mellon University, Information Systems">
    <meta name="description" content="MonoMuse website redesign project">
    <title>MonoMuse</title>
</head>
<body>
    <header>
        <h1> Exhibitions </h1>
    <nav>
        <a href="../index.html">Home</a>
        <a href="explore.html">Explore</a>
        <a href="exhibitions.html">Exhibitions</a>
        <a href="tickets.html">Buy Tickets</a>
        <a href="checkout.html">Checkout</a>
    </nav>
    </header>

    <div class="main">
        <h3>Exhibition 1: Digital Dreams</h3>
        <p> This exhibition explores how artists are using algorithms, 
            artificial intelligence, and generative tools to create new forms of 
            digital expression.
        </p>

        <h3>Exhibition 2: Code & Canvas</h3>
        <p> Code & Canvas highlists the ways programming has become a medium for 
            artistic creation.
        </p>
        
        <footer> 2026 MonoMuse. All rights reserved. </footer>
</body> 
</html>